.wrap {
  display: flex;
  margin: 0 auto;
  padding-bottom: 50px;
  width: 250px;

  & input {
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 4px 12px;
    width: 100%;
    color: #fff;
    transition: all 250ms ease-in-out;

    &::placeholder {
      color: #fff;
    }

    &:is(:hover, :focus) {
      transform: scale(105%);
    }
  }
}
