.wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 340px;
  padding: 20px;
  border: 1px solid #212121;
  border-radius: 12px;
  transition: all 250ms ease-in-out;

  &:hover {
    transform: scale(99%);
  }
}

.infoWrap {
  display: flex;
  align-items: center;
  gap: 8px;

  & .icon {
    color: #212121;
    width: 22px;
    height: 22px;
  }
}

.number,
.name {
  font-size: 20px;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn {
  display: flex;
  gap: 4px;

  & .icon {
    width: 18px;
    height: 18px;
  }
}
