.wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 350px;
  padding: 20px;
  border: 1px solid;
  border-radius: 12px;
  transition: all 250ms ease-in-out;

  &:hover {
    transform: scale(98%);
  }
}

.btn {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 2px;
  color: #fff;
  background-color: red;
  padding: 2px 4px;
  border-radius: 6px;
  opacity: 0.8;
  transition: all 250ms ease-in-out;

  &:is(:hover, :focus) {
    opacity: 1;
  }
}

.infoWrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.number,
.name {
  font-size: 20px;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}
