.form {
  padding: 20px 0;
  display: grid;
  align-items: center;
  gap: 20px;
  justify-content: center;

  & input {
    width: 250px !important;
  }

  @media (min-width: 768px) {
    display: flex;
  }
}

.btn {
  display: flex;
  gap: 4px;
}

.icon {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
}
