.form {
  padding: 40px 0;
  display: grid;
  align-items: center;
  gap: 20px;
  justify-content: center;

  @media (min-width: 768px) {
    display: flex;
  }
}

.btn {
  display: flex;
  width: 60px;
  padding: 2px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  transition: all 250ms ease-in-out;

  &:is(:hover, :focus) {
    transform: scale(105%);
  }

  @media (min-width: 768px) {
    margin: 0;
  }
}
